
name: release

on:
  push:
    branches: ["main"]

  workflow_dispatch:

permissions:
  contents: write
  checks: write

env:
  GIT_TERMINAL_PROMPT: "0"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install deps
        run: bun install

      - name: Create bundle
        run: bun run bundle

      - name: Get version
        id: get_version
        run: |
          VERSION=$(jq -r '.version' package.json)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.get_version.outputs.version }}
          name: Release v${{ steps.get_version.outputs.version }}
          files: |
            dist/validator.js
          generate_release_notes: true
